html, body { height: 100%; }

body {
    font-family: 'Poiret One', sans-serif;
}

.main {
    background: url("../images/devices.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100%;
}

form {
    width: 50%;
    margin: 40%;
}

input {
    width: 50%;
}

.text_input {
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;
}

.text_input:invalid {
  background: hsla(0, 90%, 70%, 0.5);
}

.text_input:valid {
  background: hsla(0, 0, 0, 0.5);
}


.btn-default {
    border-color: black;
}
